<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <?= $this->assets->outputCss(); ?>
<title>SimPhone</title>
</head>
<body class="text-center">
<h3 class="mt-5">SimplePhone</h3>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<?= $this->assets->outputJs(); ?>
<?= $this->getContent(); ?>
</body>
</html>