<?= $this->assets->outputJs(); ?>
<div class="container" id="phone_book" v-if="phone_list">

    <div>
        <div v-if="alert_message.type" v-bind:class="getMessageClass()" role="alert">
            {{alert_message.text}}
            <button type="button" class="close" v-on:click="clearAlert()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" name="search_query" id="search_query" v-model="search_query">
            <span class="input-group-btn">
                <button v-on:click="getItems()" class="btn btn-primary" type="button">search!</button>
                <button v-on:click="search_query = ''; getItems()" class="btn btn-link" type="button">clear</button>
           </span>
        </div>

        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col"><button class="btn btn-sm btn-success" data-toggle="modal" data-target="#editModal" v-on:click="openEditor()">+</button></th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Country code</th>
                    <th scope="col">Time zone</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
            <tr v-for="phone in phone_list">
                <td>{{ phone.id }}</td>
                <td>{{ phone.first_name }}</td>
                <td>{{ phone.last_name }}</td>
                <td>{{ phone.phone_number }}</td>
                <td>{{ phone.country_code }}</td>
                <td>{{ phone.time_zone }}</td>
                <td>
                    <button type="button" data-toggle="modal" data-target="#editModal" v-on:click="openEditor(phone)">
                        <i class="fas fa-edit" aria-hidden="true"></i>
                    </button>
                </td>
                <td><button type="button" class="close" aria-label="Close" v-on:click="deleteItem(phone.id)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example" v-if="this.pages">
            <ul class="pagination">
                <li class="page-item" v-for="page in pages"><a class="page-link" v-on:click="page.value ? getItems(page.value) : true"> {{page.title}} </a></li>
            </ul>
        </nav>
    </div>
    <!-- Modal -->

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><span v-if="form.id"> Edit phone card #{{form.id}}</span><span v-else>Add phone card</span> </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-left">

                    <input
                            class="form-control"
                            id="id"
                            v-model="form.id"
                            type="hidden"
                            name="id"
                    >
                    <div class="form-row">
                        <label for="first_name">First name</label>
                        <input
                                required
                                v-bind:class="inputHasError('first_name') ? 'form-control is-invalid' : 'form-control'"
                                id="first_name"
                                v-model="form.first_name"
                                type="text"
                                name="first_name"
                        >
                        <div class="invalid-feedback" v-if="inputHasError('first_name') ">
                            {{errors.first_name}}
                        </div>
                    </div>

                    <div class="form-row">
                        <label for="last_name col-2">Last name</label>
                        <input
                                v-bind:class="inputHasError('last_name') ? 'form-control is-invalid' : 'form-control'"
                                id="last_name"
                                v-model="form.last_name"
                                type="text"
                                name="last_name"
                        >
                        <div class="invalid-feedback" v-if="inputHasError('last_name') ">
                            {{errors.last_name}}
                        </div>
                    </div>

                    <div class="form-row">
                        <label for="phone_number">Phone</label>
                        <input
                                required
                                v-mask="'+# #################'"
                                v-bind:class="inputHasError('phone_number') ? 'form-control is-invalid' : 'form-control'"
                                id="phone_number"
                                v-model="form.phone_number"
                                type="text"
                                name="phone_number"
                        >
                        <div class="invalid-feedback" v-if="errors && errors.phone_number">
                            {{errors.phone_number}}
                        </div>

                    </div>

                    <div class="form-row">
                        <label for="country_code">Country code</label>
                        <input
                                v-bind:class="inputHasError('country_code') ? 'form-control is-invalid' : 'form-control'"
                                id="country_code"
                                v-model="form.country_code"
                                type="text"
                                name="country_code"
                        >
                        <div class="invalid-feedback" v-if="inputHasError('country_code') ">
                            {{errors.country_code}}
                        </div>
                    </div>

                    <div class="form-row">
                        <label for="time_zone">Time zone</label>
                        <input
                                v-bind:class="inputHasError('time_zone') ? 'form-control is-invalid' : 'form-control'"
                                id="time_zone"
                                v-model="form.time_zone"
                                type="text"
                                name="time_zone"
                        >
                        <div class="invalid-feedback" v-if="inputHasError('time_zone') ">
                            {{errors.time_zone}}
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" v-on:click="saveCard()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
